  	body {
  	  font-size: 15px;
  	  font-family: "Open Sans";
  	  font-style: normal;
  	  font-stretch: normal;
  	}

  	body a {
  	  text-decoration: none;
  	  color: #000000;
  	}

  	/*** 
Header-section ******/
  	.header {
  	  box-sizing: border-box;
  	  display: flex;
  	  justify-content: space-between;
  	  max-width: 1160px;
  	  margin: 0 auto;
  	  background-color: rgba(240, 197, 46, 0.5);
  	  margin-top: 40px;
  	  padding: 43px 60px 43px 57px;
  	  position: relative;
  	}

  	.header__right,
  	.header__left {
  	  flex: 1 0 50%;
  	}

  	.nav__top,
  	.nav__bot,
  	.header__nav-bot,
  	.nav__top-right,
  	.nav__bot-left {
  	  display: flex;
  	  justify-content: space-between;
  	}

  	.nav__top {
  	  margin-bottom: 39.5px;
  	}

  	input[type="text"] {
  	  background: transparent;
  	  border: none;
  	  font-size: 15px;
  	  opacity: 0.3;
  	  font-weight: 300;
  	  line-height: 2;
  	  letter-spacing: 0.15px;
  	  color: #000000;
  	}

  	.search-button {
  	  background: transparent;
  	  border: none;
  	}

  	.logo {
  	  position: absolute;
  	  top: -18px;
  	  margin-bottom: 24.5px;
  	}

  	.search-form {
  	  margin-bottom: 39.5px;
  	}

  	.header__catalogue a,
  	.nav__bot a {
  	  text-transform: uppercase;
  	  font-family: "Gilroy";
  	  font-size: 18px;
  	  font-weight: 800;
  	  line-height: 1.33;
  	  letter-spacing: 3.6px;
  	  color: #000000;
  	}

  	.header__catalogue span {
  	  position: relative;
  	}

  	.header__catalogue span::before,
  	.header__catalogue span::after {
  	  content: "";

  	  position: absolute;
  	  top: 10px;

  	  right: -23px;
  	  width: 16px;
  	  height: 2px;

  	  background-color: #000000;
  	  opacity: 0.3;
  	}

  	.header__catalogue span::after {
  	  transform: rotate(90deg);
  	}

  	.nav__bot-left a:first-child {
  	  margin-right: 37px;
  	}

  	.nav__top a {
  	  font-weight: 300;
  	  line-height: 2;
  	  letter-spacing: 0.15px;
  	}

  	.nav__top-right a:first-child {
  	  margin-right: 38px;
  	}

  	.nav__top img {
  	  margin-right: 9px;
  	}

  	/***
Main-hero section ******/

  	.main-hero {
  	  max-width: 1160px;
  	  margin: 0 auto;
  	  box-sizing: border-box;
  	}

  	.main-hero__content {
  	  position: relative;
  	  display: flex;
  	  justify-content: space-between;
  	}

  	.main-hero__right {
  	  width: 50%;
  	  /*padding-right: 72px;*/
  	}

  	.main-hero__desc {
  	  font-family: OpenSans;
  	  font-size: 15px;
  	  font-weight: 300;
  	  line-height: 2;
  	  letter-spacing: 0.15px;
  	  color: #464646;
  	  margin-top: 0;
  	  margin-bottom: 48px;
  	  padding-right: 69px;
  	}

  	.main-hero__left {
  	  width: 50%;
  	}

  	.main-hero__white-rectangle {
  	  width: 100px;
  	  height: 7px;
  	  background-color: white;
  	  margin-top: 23px;

  	}

  	.main-hero h2 {
  	  font-family: Gilroy, Arial, sans-serif;
  	  font-weight: 800;
  	  font-size: 47px;
  	  line-height: 1.19;
  	  letter-spacing: 0.47px;
  	  margin-bottom: 16.5px;
  	}

  	.main-hero__controls {
  	  display: flex;
  	  justify-content: space-between;
  	  margin-bottom: 56.8px;
  	  padding-right: 76px;
  	}

  	.main-hero__features {
  	  display: flex;
  	  justify-content: space-between;
  	  padding-right: 130px;
  	}

  	.features__item span {
  	  font-family: Gilroy;
  	  font-size: 36px;
  	  font-weight: 300;
  	  line-height: 1.33;
  	  letter-spacing: 0.36px;
  	  margin-bottom: 7.5px;
  	}

  	.features__item p {
  	  font-family: OpenSans;
  	  font-size: 13px;
  	  font-weight: 300;
  	  line-height: 1.54;
  	  letter-spacing: 0.13px;
  	  color: #464646;
  	  margin-top: 0;
  	}

  	.main-hero__top {
  	  height: 100px;
  	  width: 1160px;
  	  text-align: right;
  	  position: absolute;
  	  background-color: rgba(240, 197, 46, 0.5);
  	}

  	.main-hero__top span {
  	  font-family: Gilroy;
  	  font-size: 145.2px;
  	  font-weight: 800;
  	  line-height: 1;
  	  letter-spacing: 0.36px;
  	  color: #ffffff;
  	  padding-right: 58px;
  	}
