html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;;
  font-style: normal;
  font-stretch: normal;
}

body a {
  text-decoration: none;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
}

/***
Header-section ******/
.header {
  display: flex;
  justify-content: space-between;
  /*max-width: 1160px;*/
  margin: 0 auto;
  background-color: rgba(240, 197, 46, 0.5);
  margin-top: 40px;
  padding: 43px 60px 43px 57px;
  position: relative;
}

.header__right,
.header__left {
  flex: 1 0 50%;
}

.nav__top,
.nav__bot,
.header__nav-bot,
.nav__top-right,
.nav__bot-left {
  display: flex;
  justify-content: space-between;
}

.nav__top {
  margin-bottom: 39.5px;
}

input[type="text"] {
  background: transparent;
  border: none;
  font-size: 15px;
  opacity: 0.3;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #000000;
}

.logo {
  position: absolute;
  top: -18px;
  margin-bottom: 24.5px;
}

.A11y-Hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}


.search-form {
  position: relative;
  width: 440px;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 39px;
}

.search-form__label::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  border: 3px solid transparent;
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round'%3E%3Cpath d='M15 15l-3-3'/%3E%3Ccircle cx='7' cy='7' r='6'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.search-form__input {
  font: inherit;
  width: 440px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 100px;
  border: 0;
  border-top: 2px solid hsla(0, 0%, 0%, 0);
  border-bottom: 2px solid hsla(0, 0%, 0%, 0);
  background-color: hsla(0, 50%, 50%, 0);
}

.search-form__input:focus {
  border-bottom: 2px solid hsla(0, 0%, 0%, 1);
  outline: none;
}

.search-form__input:not(:valid) {
  box-shadow: none;
  outline: none;
}

.search-form__input-type-search::placeholder {
  color: hsl(0, 0%, 0%, 0.3)
}

.search-form__input-type-search:focus::placeholder {
  color: hsl(0, 0%, 0%, 0.6)
}

.search-form__button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 19px;
  padding-right: 19px;
  border: 2px solid #000;
  font: inherit;
  background-color: hsla(0, 0%, 0%, 0);
  opacity: 0;
}

.search-form__input:focus + .search-form__button,
.search-form__input:valid + .search-form__button,
.search-form__button:hover,
.search-form__button:focus,
.search-form__button:active {
  opacity: 1;
}

.search-form__button::-moz-focus-inner {
  border: 0;
}

.search-form__button:hover,
.search-form__button:focus,
.search-form__button:active {
  outline: 0;
  color: hsla(0, 0%, 100%, 1);
  background-color: hsl(0, 0%, 0%);
}

.search-form__button:active {
  color: hsla(0, 0%, 100%, 0.3);
}


.header__catalogue a,
.nav__bot a {
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;
}

.header__catalogue span {
  position: relative;
}

.header__catalogue span::before,
.header__catalogue span::after {
  content: "";

  position: absolute;
  top: 10px;

  right: -23px;
  width: 16px;
  height: 2px;

  background-color: #000000;
  opacity: 0.3;
}

.header__catalogue span::after {
  transform: rotate(90deg);
}

.nav__bot-left a:first-child {
  margin-right: 37px;
}

.nav__top a {
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
}

.nav__top-right a:first-child {
  margin-right: 38px;
}

.nav__top img {
  margin-right: 9px;
}

/***
Main-hero section ******/

.main-hero {
  /*max-width: 1160px;*/
  margin: 0 auto 106px;
}
.main-hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.dots {
  display: flex;
  position: absolute;
  z-index: 5;
  right: 78px;
  bottom: 142px;
}
#dot1, #dot2, #dot3 {
  margin: 0 5px;
  cursor: pointer;
}
.main-hero__content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main-hero__right {
  width: 50%;
}

.controls__more {
  display: inline-block;
  position: relative;

  background-color: transparent;
  border: none;

  width: 220px;
  height: 40px;

  padding-top: 9px;
}

.controls__more::before {
  content: "";
  display: block;
  position: absolute;

  top: 18px;
  height: 8px;
  /*width: 220px;*/
  width: 100%;
  background-color: #F0C52E;
  transition: ease-out 0.3s;
}
.controls__more::after {
  content: "подробнее";
  display: block;
  position: absolute;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.5px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  margin-left: 44px;
  margin-right: 44px;
  transition: ease-out 0.3s;
}

.controls__more:hover::before {
  top: 0;
  height: 40px;
  transition: ease-out 0.3s;
}

.controls__more:hover::after {
  transition: ease-out 0.3s;
}
.controls__more:active::before {
  top: 0;
  height: 40px;
  background-color: #000;
  /*color: #F7E184;*/
  transition: ease-out 0.3s;
}
.controls__more:active::after {
  transition: ease-out 0.3s;
  color: #F7E184;
}
.main-hero button:hover
{
  background-color: #663d15;
}

.main-hero__desc {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
  margin-top: 0;
  margin-bottom: 48px;
  padding-right: 69px;
}

.main-hero__left {
  width: 50%;
  /*background-image: url(./img/slider-1.png);*/
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-hero__left.background-fix {
  background-size: auto;
}
.main-hero h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.19;
  letter-spacing: 0.47px;
  margin-bottom: 16.5px;
  margin-top: 35px;
}
.main-hero__heading::before {
  content: '';
  display: block;
  width: 100px;
  height: 7px;
  background-color: white;
  margin-bottom: 27px;
}
.main-hero__controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44.8px;
  padding-right: 76px;
}

.main-hero__features {
  display: flex;
  justify-content: space-between;
  padding-right: 130px;
}

.features__item span {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.36px;
  margin-bottom: 7.5px;
}

.features__item p {
  font-family: OpenSans, Arial, sans-serif;;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
  margin-top: 0;
}

.main-hero__top {
  height: 100px;
  width: 1160px;
  text-align: right;
  position: absolute;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-hero__top span {
  font-family: Gilroy, Arial, sans-serif;;
  font-size: 145.2px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.36px;
  color: #ffffff;
  padding-right: 58px;
}

/***
Popular products section ******/

.popular{
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.popular__item {
  width: 160px;
}
.popular__image {
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
  position: relative;
  margin-bottom: 33px;
  transition: ease-out 0.3s;
}
.popular__image:hover {
  background-color: #F0C52E;
  transition: ease-out 0.3s;
}
.popular__image:active {
  background-color: #F0C52E;
  opacity: 0.3;
  transition: ease-out 0.2s;
}
.popular__image img {
  max-width: 100%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.moved-to-bottom img{
  top: 63%;
}
.popular__text {
  font-family: Gilroy, Arial, sans-serif;;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

.product-logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}
.product-logos__image img {
  filter: grayscale(1);
  opacity: 0.5;
  transition: ease-out 0.3s;
}

.product-logos__image:hover img {
  filter: none;
  opacity: 1;
  transition: ease-out 0.3s;
}


/***
About section ******/

.sections-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}

.about {
  width: 42%;
}
.about__heading {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.21px;
  color: #000000;
  margin-bottom: 56px;
}
.about__heading::before {
  content: '';
  display: block;
  width: 100px;
  height: 7px;
  background-color: black;
  margin-top: 23px;
  margin-bottom: 48px;
}
.about__content {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
  margin-bottom: 43px;
}
.about__content p {
  margin-top: 0;
  margin-bottom: 41px;
}
.about__content p:last-child {
  margin-bottom: 0;
}
.about__companies {
  margin-top: 0;
  margin-bottom: 41px;
}

ul.about__companies {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  padding-left: 0;
}

ul.about__companies li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}

ul.about__companies li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid #e5e5e5;
}
.about > .controls__more::after {
  content: "подробнее о нас";
}
.about > .controls__more{
  width: 305px;
}
/***
Contacts section ******/

.contacts {
  width: 50%;
}

.contacts__content {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
  margin-bottom: 53px;
}

.contacts__content p {
  margin-top: 0;
  margin-bottom: 44px;
}
.contacts__content p:last-child {
  margin-bottom: 0;
}

.contacts__map img {
  margin-bottom: 60px;
}

.contacts__map img {
  max-width: 100%;
}

.contacts > .controls__more::after {
  content: "напишите нам";
}
.contacts > .controls__more{
  width: 270px;
}

/***
Footer ******/

footer {
  background-color: #464646;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
  padding-bottom: 79px;
}
.footer__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 61px;
  margin-top: 59px;
}
.footer__center {
  align-self: center;
}
.footer__nav a {
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #ffffff;
  margin-right: 36px;
}
.footer__nav a:last-child {
  margin-right: 0;
}
.footer__left-side {
  flex-basis: 42%;
}
.footer__left-side p {
  margin-top: 35.8px;
  margin-bottom: 76px;
  opacity: 0.5;
}
.footer__left-side::after {
  content: '';
  display: block;
  width: 100px;
  height: 7px;
  background-color: #FFC600;
  margin-top: 23px;
  margin-bottom: 48px;
}
.footer__socials-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}
.footer__socials-item {
  margin-right: 23px;
}
.footer__socials-item:last-child {
  margin-right: 0;
}
.footer__right-side {
  text-align: right;
  flex-basis: 51%;
}
.footer__actions {
  display: flex;
}
.footer__action-item {
  margin-left: 42px;
  color: #ffffff;
  opacity: 0.5;
}
.footer__action-item:last-child {
  margin-left: 42px;
}
.footer__action-item img {
  margin-right: 14px;
}
.footer__number {
  margin-top: 51px;
  margin-bottom: 62.5px;
  opacity: 0.5;
}


body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden, .visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.Page {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/*.Page body {*/
/*display: flex;*/
/*flex-direction: column;*/
/*min-height: 100vh;*/
/*min-width: 1200px;*/
/*}*/

.Page-Leveler {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.Page-Header {
  margin-top: 40px;
  min-height: 80px;
  background-color: hsla(47, 87%, 56%, 0.5);
}

.Page-Footer {
  min-height: 80px;
  color: hsl(0 0% 100%);
  background-color: hsl(0, 0%, 27%);
}

.Page-Content {
  flex-grow: 1;
}

.Heading {
  font-family: Arial, sans-serif;
  font-weight: 800;
}

.Heading_lvl_1 {
  font-size: 47px;
  line-height: 1.02;
}

.Heading_lvl_2 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}

.MainContent {
  display: flex;
  flex-direction: column;
}

.MainContent-Substrate {
  flex-grow: 1;
  background-image:
    linear-gradient(to bottom, hsla(0, 0%, 0%, 0.08) 71px, transparent 71px),
    linear-gradient(to right, hsl(0, 0%, 93%) 50%, transparent 50%);
}

.PriceList {
  display: flex;
  min-height: 100%;
}

.PriceList-Filter {
  width: 328px;
  margin-bottom: auto;
}

.PriceList-Filter h2 {
  margin-top: 23px;
  min-height: 111px;
}

.PriceList-Result {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.PriceList-Sorting {
  display: flex;
  min-height: 71px;
  background-color: hsl(0, 0%, 92%);
}

.PriceList-Products {
  flex-grow: 1;
  background-color: hsl(0, 0%, 100%);
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -25px;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.breadcrumbs a {
  color: #aba9a7;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #000000;
}

.breadcrumbs-current::after {
  display: none;
}


.filters {
  width: 180px;
}
.filter {
  min-height: 1000px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 26px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 14px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;

  font-size: 14px;
  font-weight: 300;

}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 23px;
  height: 23px;

  border: 2px solid #000000;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::before {
  border: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: -42px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: -1px;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 3px;
  left: -38px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}
.filter-button {
  position: relative;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  color: transparent;
}
 .buy {
   position: absolute;
 background-color: rgba(238, 238, 238, 0.7);
   border: none;
   cursor: pointer;
   outline: none;
   top: 0;
   width: 100%;
   right: 0;
   height: 380px;
   padding-top: 50%;
   padding-left: 20%;
}
.buy:hover {
  cursor: auto;
}
 .buy p {
   margin-top: 30px;
   margin-left: 28px;
   color: rgba(0,0,0,0.5);
 }
/*.buy {*/
  /*position: absolute;*/
  /*background-color: Transparent;*/
  /*background-repeat: no-repeat;*/
  /*border: none;*/
  /*cursor: pointer;*/
  /*outline: none;*/
  /*color: transparent;*/
  /*top: 50%;*/
  /*right: 56%;*/
/*}*/

.filter-button::before {
  content: "";
  display: block;
  position: absolute;

  top: 18px;
  height: 8px;
  width: 200px;
  /*width: 100%;*/
  background-color: #F0C52E;
  transition: ease-out 0.3s;
}
.filter-button::after {
  content: "показать";
  display: block;
  position: absolute;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.5px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  margin-left: 44px;
  margin-right: 44px;
  top: 11px;
  transition: ease-out 0.3s;
}


.filter-button:hover::before {
  top: 0;
  height: 40px;
  transition: ease-out 0.3s;
}

.filter-button:hover::after {
  transition: ease-out 0.3s;
}

.filter-button:active::before {
  top: 0;
  height: 40px;
  background-color: #000;
  /*color: #F7E184;*/
  transition: ease-out 0.3s;
}
.filter-button:active::after {
  transition: ease-out 0.3s;
  color: #F7E184;
}

.black-line {
  width: 201px;
  height: 2px;
  background-color: #000000;
  margin-bottom: 10px;
}

.range {
  width: 196px;
  padding: 0;
  border: none;
}

.range-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.range-controls {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 54px;
}


.range-label {
  font-size: 14px;
  line-height: 32px;
}

.range-label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 32px;
}

.range-label-min::before {
  left: 0;
}
.range-label-max::before {
  right: 0;
}

.range-scale {
  position: absolute;
  bottom: -22px;
  width: 100%;
  height: 2px;
  background: #DBDBDB;
}

.range-bar {
  position: absolute;
  left: calc(100% * 0 / 5000);
  right: calc(100% * (5000 - 3000) / 5000);
  height: 2px;
  background: #91C92F;
}

.range-lever {
  box-sizing: border-box;
  position: absolute;
  bottom: -32px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: hsl(0, 0%, 67%);
  border: 8px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 hsla(0, 0%, 0%, 0.2);
  cursor: grab;
}

.range-lever:active {
  cursor: grabbing;
}

.range-lever:hover {
  background: hsl(209, 64%, 31%);
}

.range-lever-min {
  left: calc(100% * 0 / 5000 - 20px / 2);
}

.range-lever-max {
  left: calc(100% * 3000 / 5000 - 20px / 2);
}

.range-input:focus + .range-lever {
  box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0.5);
}

.btn-transparent {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 20px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: hsl(0, 0%, 0%);
  background: hsl(0, 0%, 100%);
}

.btn-transparent:focus::-moz-focus-inner {
  border: 0;
}


.sorting {
  margin-top: 23px;
  margin-left: 52px;
  display: flex;
  font-size: 14px;
}
.sorting div {
  margin-right: 27px;
  cursor: pointer;
  color: #D8D8D8;
}
.sorting div.sorting-active {
  color: #000;
}

.PriceList-Sorting .Heading_lvl_2 {
  margin-left: 71px;
  margin-top: 23px;
}
.catalog {
  margin-left: 71px;
  margin-top: 69px;
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.catalog-item a {
  display: flex;
  flex-direction: column;

  color: #000000;
}

.catalog-item h3 {
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 15px;

  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  display: block;

  text-transform: none;
}

.catalog-item-image {
  position: relative;
  width: 360px;
  height: 380px;
  margin: 0;
}

.catalog-item-price {
  display: flex;
  margin: 15px;
  margin-top: 0;
}

.catalog-item-price b {
  width: 112px;
  padding: 13px 25px 11px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}
.catalog-item-price .button {
  width: 50px;
  padding: 13px 18px 11px;
  margin-right: 0;

  line-height: 20px;
  color: #ffffff;
}
.item-info {
  display: flex;
  margin-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.item-info h3 {
  display: inline;
}
.price {
  padding-right: 7px;
}
.item-container {
  position: relative;
}
.new {
  display: none;
  position: absolute;
  top: 27px;
  right: 25px;
  padding-top: 18px;
  padding-left: 12px;
  font-weight: 800;
  width: 64px;
  height: 63px;
  opacity: 0.1;
  border: solid 2px #000000;
  border-radius: 50%;
  background-color: rgba(205, 57, 68, 0);
}
.show-new {
  display: inherit;
}
